<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Aulas</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
            </tr>
          </thead>

          <tbody>
            <% @classrooms.each do |classroom| %>
              <tr>
                <td><%= classroom.name %></td>
                <td><%= classroom.description %></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger">Acciones</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= link_to 'Disponibilidad', {controller:'availabilities' ,action:'index', link: classroom.link, flag: true} %></li>
                        <li><%= link_to 'Listar Reservas',  {controller:'bookings' ,action:'index', link: classroom.link, flag: true} %></li>
                        <li class="divider"></li>
                      </ul>
                  </div>
                </td>
                <%#= link_to 'Edit', edit_classroom_path(classroom) %>
                <%#= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

<%#= link_to 'New Classroom', new_classroom_path %>


    </div><!-- /.box-body -->
</div><!-- /.box -->