<div class="row">
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <h2 class="box-title">Configuración</h2>
      </div>
      
      <br>
      <div class="box-body">
  			<%= form_for :configuration do |f| %>
	        <div class="row">
		        	
	          <div class="col-md-6">
		        <div class="form-group">
		          <label class="col-md-3">Tiempo para envio de email:</label>
		          <div class="input-group">
		            <input type="number" name="configuration[mailer_time]" class="form-control" min="1" max="24"  value= <%="#{APP_CONFIG['mailer_time']}" %> >
		          </div>
		        </div>
		        </div>
	          <div class="col-md-6">
		          <div class="small-box bg-red">
		            <div class="inner">
		              <h3>
		                Nota
		              </h3>
		              <p class="col-md-10">
		                Configure una medida de tiempo en horas para enviar mails antes de que la reserva sea cumplida
		              </p>
		              <br>
		              <br>
		              <br>
		            </div>
		            <div class="icon">
		               <i class="ion ion-ios7-pricetag-outline"></i>
		            </div>
		            <a href="#" class="small-box-footer">
		              More info <i class="fa fa-arrow-circle-right"></i>
		            </a>
		          </div>
	          </div>
	        </div>
					<div class="form-group">
			      <div class="input-group">
			        <button type="submit" class="btn btn-primary">Guardar</button>
			      </div>  
			    </div>  

			  <% end %>     
