<div class="row">
  <div class="col-md-6">
    <div class="box box-danger">
      <div class="box-header">
      	<h1>Crear Reserva</h1>
      </div>	

			<%= render 'form' %>

		</div>
	</div>
</div>			