<div class="row">

  <% unless @bookings.nil? %> 
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listing my bookings</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Status</th>
            </tr>
          </thead>
          <% raise @bookings.inspect %>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.start %></td>
                <td><%= booking.end %></td>
                <td><%= booking.status %></td>
                <td><%#= link_to 'Show', booking %></td>
                <td><%#= link_to 'Edit', edit_booking_path(booking) %></td>
                <td><%#= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            <br>
          </tbody>
        </table>
        <br>

        <%#= link_to 'New Booking', new_booking_path %>
    </div><!-- /.box-body -->
    <% end %>
</div><!-- /.box -->