<div class="box-body">
  <%= form_for(@availability) do |f| %>
    <% if @availability.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

        <ul>
        <% @availability.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag 'link', @link %>


    <div class="form-group">
      <label>Rango de Tiempo para la Reserva:</label>
      <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-clock-o"></i>
        </div>
        <input type="text" name="daterange" class="form-control pull-right" id="reservationtime">
      </div>
    </div><!-- /.input group -->
    <div class="form-group">
      <div class="input-group">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>  
    </div>  
  <% end %>
    