<div class="row">
  <div class="col-md-6">
    <div class="box box-danger">
      <div class="box-header">
      	<h1>Crear Disponibilidad</h1>
      </div>	

			<%= render 'form' %>

			<%= link_to 'Atras', availabilities_path , class: "btn btn-danger"%>
		</div>
	</div>
</div>			