<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li class="active">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Sistema Gestion de Aulas</span>
            </a>
        </li>
        <li>
          <%= link_to 'Agregar Aula', new_classroom_path %>
        </li>
        <li>
            <%= link_to 'Listar Aulas', classrooms_path %>
        </li>
        <li>
            <%= link_to 'Mis Reservas', '#' %>
        </li>
      </ul>
    </section>
                <!-- /.sidebar -->
  </aside>

  <aside class="right-side">
    <!-- Main content -->
    <section class="content">
      <%= yield %>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->